<template name="TvCarousel">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      {{#each TvTrailer}}
        {{#if isFirst}}
          <li data-target="#myCarousel" data-slide-to="{{@index}}" class="active"></li>
        {{else}}
          <li data-target="#myCarousel" data-slide-to="{{@index}}" class=""></li>
        {{/if}}
      {{/each}}
    </ol>
    <div class="carousel-inner">
      {{#each TvTrailer}}
        {{#if isFirst}}
          <div class="item active">
            <div class="embed-responsive embed-responsive-16by9 trailer">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{key}}"></iframe>
            </div>

          </div>
        {{else}}
          <div class="item">
            <div class="embed-responsive embed-responsive-16by9 trailer">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{key}}"></iframe>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</template>
