/*HEADER*/

.headerSlider {

  width: 100%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 350px;
}

.singleHeader {
  background-size: 100% 100%;
  height: 450px;
}

.boxArt{
  height: 230px;
  width: auto;
  display: block;
}

.cardTitle{
  font-weight: bold;
  font-size: 10;
}

.cardReview{
  font-size: 14px;
}
.card{

}
main{}

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: transparent;
    .footer-block {
      margin: 20px 0;
    }
  }
  html {
    min-height: 100%;
    position: relative;
}

body{
  margin-bottom: 80px;
  background-color: #E5E5E5;
}
  .navbar.navbar-default{
  background-color: white;
}

.list{
  text-align: left;
}
ul{
      list-style:none;
      padding-left:0;
      display: inline;
}

.subtitle{
  font-weight: bold;
  font-size: 10px;
}
.items{
  font-weight: 300;
  font-size: 10px;
}
.subtitle-right{
  opacity: .7;
  font-weight:100;
  font-size: 18px;
}
.items-right{
  font-weight: 300;
  font-size: 16px;
}
.list.subtitle-right.item-right{
  padding 10px;
}
.tagline{
  font-size: 16px;
  font-weight: 300;
}

div.row.shadow{
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.trailer{
  height: 400px;
  width: auto;
}
