<template name="SimilarMovies">
    <div class="row">
      <div class="col-md-12">
        <div class="cardComponent">
          <p class="subtitle-right">Similar Movies </p>
          <ul>
          {{#each SimilarMovies}}
            <li class="list-temp col-lg-2 col-xs-6">
              <a href="/movie/{{title}}/{{id}}" onclick="window.location.reload(true)" data-container="body" data-toggle="popover" data-placement="auto bottom"  data-content="{{overview}}" data-title="{{title}}">
                <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="" class="coverArt img-responsive">
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
</template>
