<template name="ListItems">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="cardComponent">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              {{ListItem.favorite_count}}</span>
            <p class="movieListsTitle">{{ListItem.name}}<br/>
              <small class="mlsubtitle">{{ListItem.description}}</small>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <ul>
        {{#each ListItems}}
        <li class="list-temp col-lg-2 col-xs-6">
          <a href="/movie/{{title}}/{{id}}" onclick="window.location.reload(true)" data-container="body" data-toggle="popover" data-placement="auto bottom"  data-content="{{overview}}" data-title="{{title}}">
            <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="" class="coverArt img-responsive">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
